<% provide(:title, 'Contact Us') %>
<% provide(:description, 'static') %>
<div class="center">
	<h1>Contact Us</h1>

	<%= image_tag("logo.png", alt: "Oats", id:"logo") %>
	<h2 style="font-size: 2.5em">SuitMedia <br><br>Sekeloa <br>000-000000</h2>
</div>