<% provide(:title, 'Help') %>
<div class="center">
	<div id="help_left">

		<%= image_tag("logo.png", alt: "Oats", id:"help_logo") %>
		<div id="help_category">
			<ul>
				<li>abc
					<ul>
						<li>a</li>
						<li>b</li>
						<li>c</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div id="help_right">
		<div id="help_title"><h1>Help</h1></div>

		<div id="QnA_content">
			<ul>
				<li>Q: Apa???<br> A: OATS</li>
				<li>Q: Apa???<br> A: OATS</li>
				<li>Q: Apa???<br> A: OATS</li>
				<li>Q: Apa???<br> A: OATS</li>
				<li>Q: Apa???<br> A: OATS</li>
				<li>Q: Apa???<br> A: OATS</li>
			</ul>
		</div>
	</div>
</div>