<% provide(:title, 'Home') %>
<% provide(:description, 'static') %>
<div class="center">
	<h1></h1>
	<div id="home_content">
		<div id="home_content_left">
			<%= image_tag("logo.png", alt: "Oats", id:"logo_home") %>
			<div class="orange_button", onclick="getLocation()">
				<a href="#"><h2>Employee Login</h2></a>
			</div>
			<div class="orange_button", id="company_login">
				<a href="#">Company Login</a>
			</div>
		</div>
		<div id="home_content_right">
			<div id="register_button">
				<a href="#">Register</a>
			</div>
			<%= image_tag("Buildings.png", alt: "building", id:"building_home") %>			
		</div>
	</div>
</div>
