<% provide(:title, 'Home') %>
<% provide(:description, 'static') %>
<div class="center">
	<div id="home_content">
		<div id="home_content_left">
			<%= image_tag("logo.png", alt: "Oats", id:"logo_home") %>
			<div class="orange_button">
				<h2>Employee Login</h2>
			</div>
			<div class="orange_button", id="company_login">
				Company Login
			</div>
		</div>
		<div id="home_content_right">
			<%= image_tag("Buildings.png", alt: "building", id:"building_home") %>			
		</div>
	</div>
</div>
