<% provide(:title, 'Company Profile') %>
<% provide(:description, 'dynamic') %>
<% provide(:role, 'company') %>

<div class="sub-title">
	<div id="sub-title-bigtext">
		Company Profile
	</div>
	<div>
		<a href="edit_company_profile">edit</a>
	</div>
</div>
<div class="company_profile_content">
	<div class="company_profile_component">
		<div class="label_company_profile">Name </div>
		<div class="symbol_company_profile">:</div>
		<div id= "company_profile_name"></div>
	</div>

	<div class="company_profile_component">
		<div class="label_company_profile">Address </div>
		<div class="symbol_company_profile">:</div>
		<div id= "company_profile_address"></div>
	</div>

	<div class="company_profile_component">
		<div class="label_company_profile">Contact </div>
		<div class="symbol_company_profile">:</div>
		<div id= "company_profile_contact"></div>
	</div>

	<div class="company_profile_component">
		<div class="label_company_profile">Bill</div>
		<div class="symbol_company_profile">:</div>
		<div id= "company_profile_bill">Rp xxxx</div>
	</div>

	<div class="orange_button" id="company_profile_backup">
		Back Up
	</div>
</div>