<% provide(:title, 'Performance') %>
<% provide(:description, 'dynamic') %>
<% provide(:role, 'employee') %>




<div class="sub-title">
	<div>
		<%= yield(:title) %>
	</div>
</div>
<div id="performance_period">
	<div id="period_label">Period from : </div>
	<div id="datetimepicker_from" class="input-append">
	    <input data-format="dd-MM-yyyy" id="datefrom" value="DD-MM-YYYY" type="text"></input>
	    <span class="add-on">
	    	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    </span>
	</div>
	<div id="period_label"> to : </div>
	<div id="datetimepicker_to" class="input-append">
	    <input data-format="dd-MM-yyyy" id="dateto" value="DD-MM-YYYY" type="text"></input>
	    <span class="add-on">
	    	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    </span>
	</div>
	<div class="orange_button" id="refresh_employee_performance" onClick="checkDate()">
		<a href="javascript:checkDate()">Refresh</a>
	</div>
</div>

<div id="perf_chart">

</div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker_from').datetimepicker({
      pickTime: false
    });
  });

   $(function() {
    $('#datetimepicker_to').datetimepicker({
      pickTime: false
    });
  });
</script>

 <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });
    </script>

    <script type="text/javascript">
      window.onload = function(){
          zingchart.render(
            {
              id : "perf_chart",
              height : 450,
              width : 600,
              data : myChart
            }
          );
        }

        var myChart = {
          type : "bar",
          title : {text : "Performance Graph"},
          series :[
                {values : [8, 6, 4, 8, 7, 10, 8, 9, 7]}
              ]
        };
    </script>