<% provide(:title, 'Home') %>
<% provide(:description, 'dynamic') %>
<% provide(:role, 'employee') %>

<div class="sub-title">
	<div>
		Home
	</div>
</div>
<div>
	<div class="center-text">Work Duration</div>
</div>
<div id="timer">

</div>
<div class="opt-button">
	<input type="button" value="Check In" action=""/>
</div>