<% provide(:title, 'Home') %>
<% provide(:description, 'dynamic') %>
<div>
	<h1>Work Duration</h1>
</div>
<div id="timer">
	<div id="timer-hour">
		00
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-minute">
		00
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-second">
		00
	</div>
</div>
<div class="opt-button">
	<input type="button" value="Check In" id="checkin" action="" onClick="start();"/>
</div>
<div class="opt-button">
	<input type="button" value="Check Out" id="checkout" action="" onClick="stop();"/>
</div>