<% provide(:title, 'Home') %>
<% provide(:description, 'dynamic') %>
<div>
	<h1>Work Duration</h1>
</div>
<div id="timer">

</div>
<div class="opt-button">
	<input type="button" value="Check In" action=""/>
</div>