<%= form_for(Worktime.new, :url => {:controller => 'worktimes', :action => "create"}, :html => { :method => :post}) do |f| %>
  <div><%= f.text_field :place_checkin %></div>
  <%= f.submit "Checkin", class: "btn btn-large btn-primary" %>
<% end %>