<%= form_for(@worktime, :url => {:controller => 'worktimes', :action => "update"}, :html => { :method => :put}) do |f| %>
  <div><%= f.text_field :place_checkout %></div>
  <%= f.submit "Checkout", class: "btn btn-large btn-primary" %>
<% end %>
