<div id="timer">
	<div id="timer-hour">
		<%= @timer / 3600 %> 
		<% @timer %= 3600 %>
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-minute">
		<%= @timer / 60 %> 
		<% @timer %= 60 %>
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-second">
		<%= @timer %>
	</div>
</div>
<br/>
<div class="opt-button">
	<input type="button" id="checkout" value="Checkout" onclick="postLocation('PUT', '/employee/checkout')">
</div>