<% provide(:title, 'Home') %>
<% provide(:description, 'dynamic') %>
<% if employee_current_user.role %>
	<% provide(:role, 'HR') %>
<% else %>
	<% provide(:role, 'employee') %>
<% end %>

<div class="sub-title">
	<div>
		<%= yield(:title) %>
	</div>
</div>
<div>
	<div class="center-text">Work Duration</div>
</div>
<%= render @worktimes %>
</br>
<%= render 'checkin_form' %>
