<h1>dummy pages</h1>

<div id="myChartDiv"></div>

<script type="text/javascript">
	alert("test");

	window.onload = function(){
	    zingchart.render(
	    	{
			    id : "myChartDiv",
			    height : 450,
			    width : 600,
			    data : myChart
	    	}
	    );
    }

    var myChart = {
	    type : "line",
	    title : {text : "Hello ZingChart World"},
	    series :[
				    {values : [5, 10, 15, 5, 10, 5]},
				    {values : [2, 4, 6, 8, 10, 12]}
			    ]
    };
</script>