<header class="header-bar">
  <div class="logo-image">
    <img src="/assets/Logo.png" alt="Logo">
  </div>
  <div class="floating-bar">
    <ul class="menu-list">
      <li class="first-list"><a href="#">Home</a></li>
      <li><a href="#">Performance</a></li>
      <li><a href="#">Employees</a></li>
      <li class="last-list"><a href="#">Logout</a></li>
    </ul>
  </div>
</header>
