<header class="header-bar">
  <div class="logo-image">
    <img src="/assets/Logo.png" alt="Logo">
  </div>
  <div class="floating-bar">
    <ul class="menu-list">
      <li class="first-list"><a href="company_profile">Home</a></li>
      <li><a href="employee_list">Employees</a></li>
      <li class="last-list"><%= link_to "Sign out", '/company/signout', method: "delete" %></li>
    </ul>
  </div>
</header>
