<header class="header-bar">
  <div class="logo-image">
    <img src="/assets/Logo.png" alt="Logo">
  </div>
  <div class="floating-bar">
    <ul class="menu-list">
      <li class="first-list"><%= link_to "Home", @employee_current_user %></li>
      <li><a href="employee_performance">Performance</a></li>
      <li class="last-list"><%= link_to "Sign out", '/employee/signout', method: "delete" %></li>
    </ul>
  </div>
</header>
