<header class="header-bar">
  <div class="logo-image">
    <img src="/assets/Logo.png" alt="Logo">
  </div>
  <div class="floating-bar">
    <ul class="menu-list">
      <li class="first-list"><a href="dynamic_pages/employee_home">Home</a></li>
      <li><a href="dynamic_pages/employee_performance">Performance</a></li>
      <li class="last-list"><a href="static_pages/home">Logout</a></li>
    </ul>
  </div>
</header>
